html, body {
  margin: 0;
  padding: 0;
}
td, th {
    text-align: left;
    border-radius: 5%;
    border-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}
th {
    padding-bottom: 5%;
}


h3 {
    margin-top: 0;
    margin-bottom: 0;


}
* {
    box-sizing: border-box;
  }

    
.column {
    float: left;
    width:20%;
    padding: 5px;
}
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    background-color: lightgrey;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    box-shadow: 5px 5px 5px #999;
    border-radius: 5%;
    margin-bottom: 10px;
  }
.cardLabels{
  font-size: medium;
  font-weight: bold;
}
.labelContent{
  font-size: small;
  padding-left: 0;
  margin: 0;
}
tr{
  border-radius: 5%;
}
.recipeButton{
  background-color: lightgreen;
  width:45%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  font-size:large;
  box-shadow: 5px 5px 5px #999;
  border:none;
  border-radius: 10%;
  margin-right:10%;
}
.recipeButton:hover{
  background-color: color-mix(in srgb, black 10%, lightgreen 90%);
  border-width: 0;
  border:none;

}

a{
  text-decoration: none;
  display: inline-block;
}

.deleteButton{
  background-color: lightcoral;
  width:45%;
  color: darkslategray;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  font-size:large;
  box-shadow: 5px 5px 5px #999;
  border:none;
  border-radius: 10%;
}
.deleteButton:hover{
  background-color: color-mix(in srgb, black 10%, lightcoral 90%);
  border-width: 0;
  border:none;
}
.editButton{
  background-color: white;
  width:100%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  font-size:large;
  box-shadow: 5px 5px 5px #999;
  border:none;
  border-radius: 10%;
  color: darkslategrey;
}
.editButton:hover{
  background-color: color-mix(in srgb, black 10%, white 90%);
  border-width: 0;
  border:none;
}

.moveRight{
  margin-left: 20%;
  box-shadow: -5px -5px -5px #999;
}
.sidebar{
  background-color: lightblue;
  width: 17.5%;
  height: 100%;
  overflow: hidden;
  box-shadow: 5px 5px 5px #999;
  display: inline-block;
  position: absolute;
  }
.sideBarButton{
  width:75%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  font-size:x-large;
  border: 3px;
  border-color: white;
  color:black;
  text-decoration: none;
}
.sideBarButton:hover{
  background-color: color-mix(in srgb, black 10%,  lightblue  90%);
}
ul{
  list-style-type: none;
  width: 100%;
}
li{
  margin-bottom: 20px;
}
input {
  width: 30%;

}

.split {
  height: 100% !important;
  width: 50% !important;
  margin-top: 5% !important;
  position: fixed !important;
  z-index: 1 !important;
  top: 0 !important;
  overflow-x: hidden !important;
  
}
/* Control the left side */
.left {
  left: 0 !important;

}

/* Control the right side */
.right {
  right: 0 !important ;
  background-color: lightgrey;
}

/* If you want the content centered horizontally and vertically */
.centered {
  margin-left: 33%;
}
.search input[type=text]{
  width: 75%;
  height: 5%;
  font-weight: bold;

  border: 3px;
  border-color: white;
  color:black;
}
select{
  margin-top: 2%;
  height: 3%;
  border: 3px;
  border-color: white;
  color:grey;
}
input[type=text]{
  height: 3%;

  border: 3px;
  border-color: white;
  color:black;
}
img {
  border-radius: 8px;
  box-shadow: 5px 5px 5px #999;

}