td, th {
    text-align: left;
    border-radius: 5%;
    border-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}
th {
    padding-bottom: 5%;
}


h3 {
    margin-top: 0;
    margin-bottom: 0;

}
* {
    box-sizing: border-box;
  }
  
  .row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
.column {
    float: left;
    width:20%;
    padding: 5px;
}
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    background-color: lightgrey;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    box-shadow: 5px 5px 5px #999;
    border-radius: 5%;
    margin-bottom: 10px;
  }
.cardLabels{
  font-size: medium;
  font-weight: bold;
}
.labelContent{
  font-size: small;
  padding-left: 0;
  margin: 0;
}
tr:hover{
  background-color: grey;
}
tr{
  border-radius: 5%;
}
.recipeButton{
  background-color: lightblue;
  width:50%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  font-size:x-large;
  box-shadow: 5px 5px 5px #999;
  border:none;
}
.recipeButton:hover{
  background-color: color-mix(in srgb, black 10%, lightblue 90%);
  border-width: 0;
  border:none;

}
.moveRight{
  margin-left: 20%;
  box-shadow: -5px -5px -5px #999;
}
.sidebar{
  background-color: lightblue;
  width: 17.5%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  box-shadow: 5px 5px 5px #999;
  }
.sideBarButton{
  width:50%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  font-size:x-large;
  border: 3px;
  border-color: white;
  color:black;
  text-decoration: none;
}
.sideBarButton:hover{
  background-color: color-mix(in srgb, black 10%,  lightblue  90%);
}
ul{
  list-style-type: none;
  width: 100%;
}
li{
  margin-bottom: 20px;
}
input {
  width: 30%;

}